body {
	font-family: 'Noto Sans', sans-serif;
	color:white;
}

.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

h1, h2, h3, h4 {
    font-family: "Arial Black", sans-serif;;
    font-size: 4em;
    text-align: justify;
    color: whitesmoke;
    z-index: 1;
    font-weight: bold;
    text-shadow: 6px 2px 2px gray;
}

.container {
	max-width: 840px;
	margin: 0 auto;
}

.container > div {
	margin: 20px auto;
}

.intro {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.i-am, .i-like {
    text-align: center;
    text-decoration: none
}

.about-list {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

.projects-heading {
    text-align: center; 
}

.projects-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.project-image {
    justify-self: center;
    padding: 4%;
    width: 300px;
}

.project-image:hover {
    box-shadow: 0 8px 12px 0 rgb(243,138,110);
}

.links-and-contact {
    display: grid;
    grid-template-columns: 100% 80%;
}

.links {
    justify-self: center;
}

.links-list {
    list-style: none;
    padding: 0;
    margin:0;
}

.links-list li{
    display: inline;
    margin-right: 10px;
}

.link-image:hover{
    box-shadow: 0 8px 12px 0 rgb(243,138,110);
}
form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form {
	width: 250px;
	margin: 0 auto;
}

form input[type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
    background-color: whitesmoke;
    color: black;
}

.map{
    text-align: center;
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .75);
    transition: all ease-in-out .2s;
    }

.profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgb(243,138,110);
}

.container_img {
    width: 220px; height: 310px; transition : all 0.1s;
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  .overlay {
    position: absolute;
    width: 220px;
    height: 310px;
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255 ,0.6) 50%,
    transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.1s;
  }
  .card {
    width: 300px; height: 150px;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
  }
  .project-name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
        
    
@media (max-width: 480px) {
    .about-grid {
    grid-template-columns: 100%;
    }
}

@media (max-width: 650px) {
    .projects-grid {
    grid-template-columns: 100%;
    }
}

@media (max-width: 650px) {
    .links-and-contact {
    grid-template-columns: 100%;
    }
}
    